/* Created by Vojtech Liska */


@font-face {
    font-family: 'title';
    src: url("../fonts/Bahnschrift/BAHNSCHRIFT.TTF") format("opentype");
}

@font-face {
    font-family: 'textfont';
    src: url("../fonts/Bahnschrift/BAHNSCHRIFT.TTF") format('truetype');
}


body {
    font-family: "textfont", sans-serif;
    font-style: normal;
    overflow-x: hidden;
    /*background-color: #a0a0a0;
    color: rgb(24, 24, 24);*/
}

.gallery-item {
  position: relative;
  width: 100%;
  aspect-ratio: 3 / 2;
  overflow: hidden;
}
.gallery-item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-item .caption {
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.7);
  padding: 1px 6px;
  border-radius: 4px;
}

.footer-link {
  color: inherit;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-item {
  font-weight: 600;
}

.separator {
  margin: 0 12px;
  opacity: 0.6;
  font-weight: bold;
}

.nazev{
  font-family: "title";
}